/* 共通CSS ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
body {
    max-width: 720px;
    margin: 0 auto;
}

@media(min-width:720px){
    body {
        border: 1px solid #80808033;
        height: 100vh;
    }
}


progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}
::-webkit-progress-value {
    background-color: #c8bd00;
    border-radius: 8px;
  }
::-webkit-progress-bar {
  background-color: #80808033;
  border-radius: 8px;
  height: 13px;
  width: 150px;
  margin: 10px 0 0;
}
::-moz-progress-value {
    background-color: #c8bd00;
    border-radius: 8px;
}
::-moz-progress-bar {
    background-color: #80808033;
    border-radius: 8px;
    height: 13px;
    width: 150px;
    margin: 10px 0 0;
}



/* ヘッダー */
header {
    background: white;
    padding: .5rem;
    text-align: right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #80808033;
    padding: 13px;
    height: 32px;
}
header img {
    width: 200px;
}
.menu_list {
    display: flex;
    justify-content: space-evenly;
    padding: 12px 0;
}
.menu_list li {
    padding: .8rem 0 1rem;
    border-bottom: 1px solid white;
    list-style: none;
}
.menu_list li a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
.btn_menu {
    border-radius: 5px;
    border: 1px solid #c8bd00;
    background: transparent;
    color: #c8bd00;
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1;
}
nav {
    background: #c8bd00;
    position: absolute;
    z-index: 1;
    top: 58px;
    right: 0;
    overflow-x: hidden;
    text-align: center;
    width: 0%;
    transition: .5s;
}
nav.open-menu {
    width: 100%;
}

.bold {font-weight: bold;}
.gray {color: gray;}
.tomato {color: tomato;}

.pagenation {
    padding: 10px 0 30px;
    text-align: center;
}
.pagenation ul{
    display: flex;
    justify-content: center;
}
.pagenation li {
    color: gray;
    margin: 0 10px 0;
    font-size: 17px;
    font-weight: bold;
}
.pagenation li a{
    color: #c8bd00;
}

/* home.blade.php */
.home_inner {
    z-index: -1;
}
.home_inner .text_block {
    text-align: center;
    width: 75%;
    margin: 20px auto 0;
}
.home_inner video {
    width: 100%;
    height: calc(100vh - 62px);
    opacity: 0.8;
    object-fit: cover;
    position: relative;

}
.home_inner .text_block {
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    margin: auto;
}
@media (min-width:800px){
    .home_inner .text_block {
        top: 320px;
    }
}
.home_inner .text_block * {
    margin: 0 0 20px;
}
.home_inner .text_block h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid #c8bd00;
    padding: 0 0 30px;
    max-width: 400px;
    margin: 20px auto;
}
.home_inner .text_block h4 {
    line-height: 1.4;
    font-size: 15px;
    color: white;
    margin: 20px auto;
    max-width: 400px;
}
.home_inner .text_block a {
    width: 50%;
    display: inline-block;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    background: #c8bd00;
    color: white;
}


/* シェアアプリ ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

/* バリデーション common/erros.blade.php */
.validation_error .errors{
    text-align: left;
    font-size: 13px;
    color: gray;
    line-height: 20px;
    margin: 0 auto;
    display: inline-block;
    padding: 20px 0 0;
}
.validation_error .message {
    padding: 20px 0;
    color: tomato;
}

/* 認証画面 ーーーーーーーーーーーーーーーー  */
.auth_area {
    padding: 30px;
    text-align: center;
}
.auth_title h1 {
    font-weight: bold;
    font-size: 20px;
    color: #c8bd00;
}
.auth_inputs {
    margin: 20px 0 0;
}
.auth_inputs li {
    margin: 0 0 20px;
}

.auth_inputs li .input_text {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
}
.auth_inputs li button {
    width: 100%;
    padding: 15px 10px;
    border-radius: 30px;
    border: none;
    background: #c8bd00;
    color: white;
}
.auth_min_text {
    font-size: 13px;
    color: gray;
}
.auth_logo img {
    width: 100px;
    object-fit: cover;
    margin: 0 0 20px;
}


/* 固定のメニューバー ーーーーーーーーーーーーーーーー  */
.menu_fixed {
    max-width: 720px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    text-align: center;
    background: #c8bd00;
    color: white;
    margin-bottom: 0;
    padding: 12px 0;
    font-size: 15px;
    border-top: 1px solid #80808033;
}
.menu_fixed li {
    display: flex;
    flex-direction: column;
    color: white;
}
.menu_fixed li i {
    margin: 0 0 .5rem;
}
.menu_fixed span {
    font-size: 13px;
}

.recipe_inner {
    padding: 0 0 63px;
}

/* find.blade.php 検索ページ ーーーーーーーーーーーーーーーー  */
.main_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-image: url("../img/main_image.jpg");
    background-color:rgba(0,0,0,0.15);
    background-blend-mode:darken;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.serch_bar .keyword {
    height: 35px;
    width: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}
.serch_bar .btn {
    height: 37px;;
    width: 50px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #c8bd00;
    color: white;
}
.find_by_recipe h4 {
    font-size: 18px;
    font-weight: bold;
}
.find_by_recipe .title {
    border-bottom: 1px solid black;
    padding: 0 0 10px;
}
.find_by_recipe ul {
    margin: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}
.find_by_recipe input {
    border: none;
    width: 145px;
    height: 100px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 20px;
}
.find_by_recipe ul input:nth-child(odd) {
    margin: 0 0 20px;
}
.find_by_recipe .pasta {
    background-image: url('../img/pasta.jpg');
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:lighten;
}
.find_by_recipe .don {
    background-image: url('../img/don.jpg');
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:lighten;
}
.find_by_recipe .curry {
    background-image: url('../img/curry.jpg');
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:lighten;
}
.find_by_recipe .salada {
    background-image: url('../img/salada.jpg');
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:lighten;
}

.category_bar {
    background: #c8bd00;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
}

/* list.blade.php レシピ一覧ページ ーーーーーーーーーーーーーーーー  */
.recipe_card {
    display: flex;
    padding: 15px 10px 15px;
    border-bottom: 1px solid #80808033;
}
.recipe_card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.recipe_titles {
    margin: 20px;
}
.recipe_card h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px;
    line-height: 20px;
}

/* mypage.blade.php マイページ ーーーーーーーーーーーーーーーー  */
.account_info {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}
.account_info img {
    width: 100px;
    height: 95px;
    object-fit: cover;
    border-radius: 50%;
}
.account_info h4 {
    font-weight: bold;
    font-size: 20px;
}
.account_info .edit_btn {
    margin: 10px 0 0;
    color: white;
    background: #c8bd00;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
}
.thanks_for_posts {
    font-size: 13px;
}
.recipe_card .edit_btn {
    margin: 10px 0 0;
    color: white;
    background: #c8bd00;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 10px;
    font-weight: bold;
}
.user_inputs {
    margin: 40px 0 0;
}
.user_inputs dl {
    width: 75%;
    margin: 0 auto;
}
.user_inputs dd .input_text {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #80808033;
    font-size: 15px;
}
.user_inputs dd {
    padding: 0 0 20px;
}
.user_inputs dt {
    font-size: 13px;
    color: gray;
    margin: 0 0 10px;
}
.user_inputs .submit {
    width: 80%;
    padding: 12px 10px;
    margin: 0 10%;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background: #c8bd00;
    color: white;
}
.wdithdraws {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.wdithdraws .btn {
    text-decoration: underline;
}
.wdithdraws button {
    border: none;
    background: none;
    text-decoration: underline;
    color: tomato;
    margin: 0 0 0 10px;
}
.user_progress {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 15px;
    border-top: 1px solid #c8bd00;
    border-bottom: 1px solid #c8bd00;
    cursor: pointer;
}
.user_progress li {
    width: 50%;
    border-right: 1px solid white;
    padding: 12px;
    text-align: center;
}
.user_progress .on {
    color: white;
    background: #c8bd00;
}
.user_progress .off {
    color: #c8bd00;
    background: white;
}
.progress_title {
    text-align: center;
    box-sizing: border-box;
    padding: 20px 0;
}
.progress_title span{
    color: #808080ad;
    padding: 12px 0;
    border-bottom: 1px solid #808080ad;
    font-size: 14px;
}

.hidden {
    display: none;
}

/* create.php レシピ作成画面 ーーーーーーーーーーーーーーーー  */
.form_layout {
    text-align: center;
}
.form_inner {
    margin: 20px 0;
    padding: 0 12.5%;
    text-align: center;
}
.recipe_form {
    width: 100%;
}
.cooking_procedure {
    background: #c8bd00;;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
}
.recipe_form .title input {
    border: none;
    border-bottom: 1px solid #80808033;
    box-sizing: border-box;
    width: 100%;
    line-height: 30px;
}
#preview {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 3px;
}
#hd_img {
    padding: 10px 0;
}

input#file-upload-button {
    color: blue;
}
.recipe_form .ingredients {
    width: 100%;
    border: none;
    border-bottom: 1px solid #80808033;
    margin: 0 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}
.recipe_form .text textarea{
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    resize: none;
}
.btn_around {
    text-align: center;
    margin: 20px 0 0;
}
.recipe_block {
    display: flex;
    margin: 25px 0 0;
}
.recipe_block .text {
    margin: 15px 0 0;
}
.recipe_block .updown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px
}
.recipe_block .updown i {
    padding: 10px;
    color: #c8bd00;
}
.recipe_block .desc {
    flex: 1;
}
.recipe_block .desc .previews {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 3px;
}
.recipe_block .desc textarea {
    border: none;
    border-bottom: 1px solid #80808033;
    height: 50px;
}
.form_inner #recipe_submit {
    border: none;
    margin: 30px 0;
    color: white;
    background: #c8bd00;
    border-radius: 30px;
    padding: 15px 100px;
    font-size: 15px;
    font-weight: bold;
}
/* detail.blade.php レシピ詳細を表示する画面 ーーーーーーーーーーーーーーーー  */
.recipe_heaader {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgba(0,0,0,0.2);
    background-blend-mode:darken;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.recipe_heaader h1 {
    font-size: 23px;
    color: white;
    font-weight: bold;
    padding: 20px;
}
.recipe_heaader img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.recipe_prosess{
    padding: 30px;
    border-top: 1px solid#80808033;
    display: flex;
    flex-direction: column;
}

.recipe_prosess img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 0 0 30px;
}
.shopping_list li{
    padding: 12px;
    border-bottom: 1px solid#80808033;
}

/* saved.blade.php 保存した投稿のページ ーーーーーーーーーーーーーーーー */
.coming_soon {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coming_soon img {
    width: 180px;
    object-fit: cover;
}
.coming_soon h1 {
    margin: 20px 0 0;
    font-weight: bold;
    font-size: 20px;
}


/* クッキングアプリ ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

/* overview.blade.php ーーーーーーーーーーーーーーーー*/
.overview_inner {
    margin: 20px 10px;
}
.overview_top {
    background-image: url('../img/main_image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(0,0,0,0.2);
    background-blend-mode:darken;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
}
.overview_inner .user_info img {
    width: 100px;
    height: 95px;
    object-fit: cover;
    border-radius: 50%;
}
.overview_inner .user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px;
    margin: 0 0 10px;
    border-radius: 10px;
    border: 1px solid #c8bd0070;
}
.overview_inner .user_info .texts {
    display: flex;
    margin: 10px 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-content: space-evenly;
    height: 70px;
}
.overview_inner .user_info .texts h4 {
    font-weight: bold;
}
.overview_inner .user_info .texts p {
    color: gray;
}
.overview_title {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    color: #c8bd00;
    margin: 15px 0;
}
.overview_title h2 {
    margin: 0 5px;
}
.course_card {
    padding: 20px 0;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #cccccc;
    box-shadow: 0 0 6px 1px #c8bd003b;
    display: flex;
}
.course_card .left img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    padding: 0 20px;
    border-radius: 30%;
}
.course_card .right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 10px 0 0;
}
.course_card .right h3 {
    font-weight: bold;
    margin: 0 0 5px;
}
.course_card .right p {
    font-size: 13px;
    color: gray;
    line-height: 1.2;
}

/* course.blade.php ーーーーーーーーーーーーーーーー*/
.course_title {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgba(0,0,0,0.15);
    background-blend-mode:darken;
    color: white;
}
.course_title h1 {
    font-size: 30px;
    margin: 0 0 20px;
    font-weight: bold;
}
.course_title progress::-webkit-progress-bar {
    background-color: #b3b3b3cb;
}
::-moz-progress-bar {
    background-color: #b3b3b3cb;
}

.lesson_card {
    margin: 5px;
    padding: 20px;
    box-shadow: 0 0 6px 1px #cccccc;
    margin: 10px;
}
.lesson_card * {
    margin: 0 0 20px;
}
.lesson_card h4 {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    border: 1px solid rgb(216, 213, 213);
    border-radius: 20px;
}
.lesson_card h2 {
    font-size: 22px;
    font-weight: bold;
}
.lesson_card p {
    color: #444444;
    line-height: 1.5;
}
.lesson_card img {
    width: 100%;
    opacity: 0.9;
    height: 200px;
    object-fit: cover;
}
.lesson_card .btn {
    display: block;
    border-radius: 5px;
    padding: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.lesson_card .completed {
    color: rgba(116, 241, 78, 0.904);
}
.lesson_card .uncompleted {
    color: orange;
}

/* lesson.blade.php ーーーーーーーーーーーーーーーー*/
.recipe_heaader a {
    color: white;
    background: #c8bd00;
    border-radius: 30px;
    padding: 15px 50px;
    font-size: 15px;
    font-weight: bold;
    width: 35%;
}
.completed_lesson_btn {
    display: flex;
    justify-content: center;
}
.completed_lesson_btn h4{
    display: inline-block;
    margin: 30px 0;
    color: white;
    background: rgb(216, 213, 213);
    border-radius: 30px;
    padding: 15px 50px;
    font-size: 15px;
    font-weight: bold;
}
.lesson_complete_btn {
    display: flex;
    justify-content: center;
}
.lesson_complete_btn input{
    margin: 30px 0;
    background: white;
    border-radius: 30px;
    padding: 15px 50px;
    font-size: 15px;
    font-weight: bold;
}