/* 共通CSS ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
body {
    max-width: 720px;
    margin: 0 auto;
    min-height: 100vh;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}
::-webkit-progress-value {
    background-color: #c8bd00;
    border-radius: 8px;
  }
::-webkit-progress-bar {
  background-color: #80808033;
  border-radius: 8px;
  height: 13px;
  width: 150px;
  margin: 10px 0 0;
}
::-moz-progress-value {
    background-color: #c8bd00;
    border-radius: 8px;
}
::-moz-progress-bar {
    background-color: #80808033;
    border-radius: 8px;
    height: 13px;
    width: 150px;
    margin: 10px 0 0;
}



/* ヘッダー */
header {
    background: white;
    padding: .5rem;
    text-align: right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #80808033;
    padding: 13px;
    height: 32px;
}
header img {
    width: 200px;
}
.menu_list {
    display: flex;
    justify-content: space-evenly;
    padding: 12px 0;
}
.menu_list li {
    padding: .8rem 0 1rem;
    border-bottom: 1px solid white;
    list-style: none;
}
.menu_list li a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
.btn_menu {
    border-radius: 5px;
    border: 1px solid #c8bd00;
    background: transparent;
    color: #c8bd00;
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1;
}
.header_right {
    background: #c8bd00;
    position: absolute;
    z-index: 1;
    top: 58px;
    right: 0;
    overflow-x: hidden;
    text-align: center;
    width: 0%;
    transition: .5s;
}
.header_right.open-menu {
    width: 100%;
}

.bold {font-weight: bold;}
.gray {color: gray;}
.tomato {color: tomato;}

.pagination {
    padding: 10px 0 12px;
    text-align: center;
}
.pagination ul{
    display: flex;
    justify-content: center;
}
.pagination li {
    color: gray;
    margin: 0 10px 0;
    font-size: 17px;
    font-weight: bold;
}
.pagination li a{
    color: #c8bd00;
}

/* home.blade.php */
.home_inner {
    z-index: -1;
}
.home_inner .text_block {
    text-align: center;
    width: 75%;
    margin: 20px auto 0;
}
.home_inner video {
    width: 100%;
    height: calc(100vh - 62px);
    opacity: 0.8;
    object-fit: cover;
    position: relative;

}
.home_inner .text_block {
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 800px;
}
@media (min-width:800px){
    .home_inner .text_block {
        top: 320px;
    }
}
.home_inner .text_block * {
    margin: 0 0 20px;
}
.home_inner .text_block h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid #c8bd00;
    padding: 0 0 30px;
    max-width: 400px;
    margin: 20px auto;
}
.home_inner .text_block h4 {
    line-height: 1.4;
    font-size: 15px;
    color: white;
    margin: 20px auto;
    max-width: 400px;
}
.home_inner .text_block a {
    width: 50%;
    display: inline-block;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    background: #c8bd00;
    color: white;
}


/* シェアアプリ ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

/* バリデーション common/erros.blade.php */
.validation_error .errors{
    text-align: left;
    font-size: 13px;
    color: gray;
    line-height: 20px;
    margin: 0 auto;
    display: inline-block;
    padding: 20px 10px 0;
}
.validation_error .message {
    padding: 20px 0;
    color: tomato;
}

/* 認証画面 ーーーーーーーーーーーーーーーー  */
.auth_area {
    padding: 30px;
    text-align: center;
}
.auth_title h1 {
    font-weight: bold;
    font-size: 20px;
    color: #c8bd00;
}
.auth_inputs {
    margin: 20px 0 0;
}
.auth_inputs li {
    margin: 0 0 20px;
}

.auth_inputs li .input_text {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
}
.auth_inputs li button {
    width: 100%;
    padding: 15px 10px;
    border-radius: 30px;
    border: none;
    background: #c8bd00;
    color: white;
}
.auth_min_text {
    font-size: 13px;
    color: gray;
}
.auth_logo img {
    width: 100px;
    object-fit: cover;
    margin: 0 0 20px;
}


/* 固定のメニューバー ーーーーーーーーーーーーーーーー  */
.menu_fixed {
    max-width: 720px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    text-align: center;
    background: #c8bd00;
    color: white;
    margin-bottom: 0;
    padding: 12px 0;
    font-size: 15px;
    border-top: 1px solid #80808033;
}
.menu_fixed li {
    display: flex;
    flex-direction: column;
    color: white;
}
.menu_fixed li i {
    margin: 0 0 .5rem;
}
.menu_fixed span {
    font-size: 13px;
}

.recipe_inner {
    padding: 0 0 63px;
}

/* find.blade.php 検索ページ ーーーーーーーーーーーーーーーー  */
.main_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-image: url("../img/main_image.jpg");
    background-color:rgba(0,0,0,0.15);
    background-blend-mode:darken;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.serch_bar .keyword {
    height: 35px;
    width: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}
.serch_bar .btn {
    height: 37px;;
    width: 50px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #c8bd00;
    color: white;
}
.find_by_recipe h4 {
    font-size: 18px;
    font-weight: bold;
}
.form_img_label {
    margin: 0 0 30px;
}
#form_img_label {
    color: #c8bd00;
    background-color: white;
    padding: 6px;
    border-radius: 13px;
    border: 1px solid #c8bd00;
}
.find_by_recipe ul {
    padding: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    background-image: url(../img/white_bg.jpg);
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}
.find_by_recipe input {
    border: none;
    width: 145px;
    height: 100px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 20px;
}
.find_by_recipe ul input:nth-child(odd) {
    margin: 0 0 20px;
}
.find_by_recipe .pasta {
    background-image: url('../img/pasta.jpg');
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:lighten;
    font-size: 17px;
    text-shadow: 0.5px 0.5px 0 #808080, -0.5px 0.5px 0 #808080, 0.5px -0.5px 0 #808080, -0.5px -0.5px 0 #808080;
}
.find_by_recipe .don {
    background-image: url('../img/don.jpg');
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:lighten;
    font-size: 17px;
    text-shadow: 0.5px 0.5px 0 #808080, -0.5px 0.5px 0 #808080, 0.5px -0.5px 0 #808080, -0.5px -0.5px 0 #808080;
}
.find_by_recipe .curry {
    background-image: url('../img/curry.jpg');
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:lighten;
    font-size: 17px;
    text-shadow: 0.5px 0.5px 0 #808080, -0.5px 0.5px 0 #808080, 0.5px -0.5px 0 #808080, -0.5px -0.5px 0 #808080;
}
.find_by_recipe .salada {
    background-image: url('../img/salada.jpg');
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:lighten;
    font-size: 17px;
    text-shadow: 0.5px 0.5px 0 #808080, -0.5px 0.5px 0 #808080, 0.5px -0.5px 0 #808080, -0.5px -0.5px 0 #808080;
}

.category_bar {
    background: #c8bd00;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
}

/* list.blade.php レシピ一覧ページ ーーーーーーーーーーーーーーーー  */
.recipe_card {
    display: flex;
    padding: 15px 10px 15px;
    border-bottom: 1px solid #80808033;
    align-items: center;
}
.recipe_card:first-child {
    border-top: 1px solid #80808033;
}
.recipe_card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.recipe_titles {
    margin: 0 20px;
}
.recipe_card h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px;
    line-height: 20px;
}

/* mypage.blade.php マイページ ーーーーーーーーーーーーーーーー  */
.account_info {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}
.account_info img {
    width: 100px;
    height: 95px;
    object-fit: cover;
    border-radius: 50%;
}
.account_info h4 {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
}
.account_info progress {
    margin: 0 0 15px;
}
.account_info .edit_btn {
    color: white;
    background: #c8bd00;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    margin: 20px 0;
}
.thanks_for_posts {
    font-size: 13px;
}
.recipe_card .edit_btn {
    margin: 10px 0 0;
    color: white;
    background: #c8bd00;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 10px;
    font-weight: bold;
}
.user_inputs {
    margin: 40px 0 30px;
}
.user_inputs dl {
    width: 75%;
    margin: 0 auto;
}
.user_inputs dd .input_text {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #80808033;
    font-size: 15px;
}
.user_inputs dd {
    padding: 0 0 20px;
}
.user_inputs dt {
    font-size: 13px;
    color: gray;
    margin: 0 0 10px;
}
.user_inputs .submit {
    width: 80%;
    padding: 12px 10px;
    margin: 20px 10%;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background: #c8bd00;
    color: white;
}
.wdithdraws {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;
}
.wdithdraws .btn {
    text-decoration: underline;
}
.wdithdraws button {
    border: none;
    background: none;
    text-decoration: underline;
    color: tomato;
    margin: 0 0 0 10px;
}
.user_progress {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 15px;
    border-top: 1px solid #c8bd00;
    border-bottom: 1px solid #c8bd00;
    cursor: pointer;
}
.user_progress li {
    width: 50%;
    border-right: 1px solid white;
    padding: 12px;
    text-align: center;
}
.user_progress .on {
    color: white;
    background: #c8bd00;
}
.user_progress .off {
    color: #c8bd00;
    background: white;
}
.progress_title {
    text-align: center;
    box-sizing: border-box;
    padding: 20px 0;
}
.progress_title span{
    color: #808080ad;
    padding: 8px 0;
    border-bottom: 1px solid #808080ad;
    font-size: 14px;
}

.hidden {
    display: none;
}

/* create.php レシピ作成画面 ーーーーーーーーーーーーーーーー  */
.form_layout {
    text-align: center;
}
.form_inner {
    margin: 20px 0;
    padding: 0 20px;
    text-align: center;
}
.form_each {
    display: flex;
    margin: 0 0 10px;
}
.recipe_form {
    width: 100%;
}
.cooking_procedure {
    background: #c8bd00;;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
}
.recipe_form .title input {
    border: none;
    border-bottom: 1px solid #80808033;
    box-sizing: border-box;
    width: 100%;
    line-height: 30px;
}
#preview {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 3px;
    margin: 0 0 30px;
}
#hd_img {
    padding: 10px 0;
}

input#file-upload-button {
    color: blue;
}
.recipe_form .ingredients {
    border: none;
    border-bottom: 1px solid #80808033;
    margin: 0 10px 0 0;
    height: 30px;
    line-height: 30px;
    flex-grow: 2;
    font-size: 15px;
}
.recipe_form .amount {
    border: none;
    border-bottom: 1px solid #80808033;
    height: 30px;
    line-height: 30px;
    width: 50px;
    font-size: 15px;
}

.units {
    /* styling */
    background-color: white;
    border: thin solid #80808033;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 5px;
    font-size: 0.8rem;
}

.recipe_form .text textarea{
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    resize: none;
}
.btn_around {
    text-align: center;
    margin: 20px 0 0;
}
.recipe_block {
    display: flex;
    margin: 25px 0 0;
}
.recipe_block .text {
    margin: 15px 0 0;
}
.recipe_block .text textarea {
    font-size: 15px;
}
.recipe_block .updown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px
}
.recipe_block .updown i {
    padding: 10px 0 10px 10px;
    color: #c8bd00;
}
.recipe_block .desc {
    flex: 1;
}
.recipe_block .desc .previews {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 3px;
    margin: 0 0 30px;
}
.recipe_block .desc textarea {
    border: none;
    border-bottom: 1px solid #80808033;
    height: 50px;
}
.form_inner #recipe_submit {
    border: none;
    margin: 30px 0;
    color: white;
    background: #c8bd00;
    border-radius: 30px;
    padding: 15px 100px;
    font-size: 15px;
    font-weight: bold;
}
/* detail.blade.php レシピ詳細を表示する画面 ーーーーーーーーーーーーーーーー  */
.recipe_back i {
    font-size: 23px;
    padding: 8px 0 8px 15px;
    color: #c8bd00;
}
.recipe_heaader {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgba(0,0,0,0.2);
    background-blend-mode:darken;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.recipe_heaader h1 {
    font-size: 23px;
    color: white;
    font-weight: bold;
    padding: 20px;
}
.recipe_heaader img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.recipe_heaader a {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.recipe_heaader a i {
    font-size: 28px;
    margin: 0 5px 0 0;
}
.recipe_heaader a span {
    font-size: 15px;
    text-decoration: underline;
}
.recipe_prosess{
    padding: 20px 12px;
    border-bottom: 1px solid#80808033;
    display: flex;
    flex-direction: column;
}
.shopping_list ul{
    padding: 12px;
    border-bottom: 1px solid#80808033;
    display: flex;
}
.shopping_list ul .take_up {
    flex-grow: 2;
}
.shopping_list ul .space{
    margin: 0 5px;
}
.stock_form {
    text-align: center;
}
.stock_btn {
    border: none;
    margin: 30px 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #c8bd00;
    border-bottom: solid 2px #8e8600;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
.stock_btn:active {
    border-bottom: solid 2px #c8bd00;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

/* stocked.blade.php 保存した投稿のページ ーーーーーーーーーーーーーーーー */
.recipe_horizontal_card {
    padding: 10px 0;
    margin: 10px 10px;
    border-radius: 6px;
    border: 1px solid #cccccc;
    box-shadow: 0 0 6px 1px #c8bd003b;
    display: flex;
}
.recipe_horizontal_card .left img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    padding: 0 20px;
    border-radius: 20%;
}
.recipe_horizontal_card .right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 10px 0 0;
}
.recipe_horizontal_card .right h3 {
    font-weight: bold;
    text-decoration: underline;
}
.stock_remove_btn {
    border: none;
    background: tomato;
    color: white;
    border-radius: 5px;
}
.stock_destroy_form {
    text-align: center;
}
.stock_destroy {
    border: none;
    margin: 30px 0;
    color: white;
    background: #c8bd00;
    border-radius: 30px;
    padding: 15px 60px;
    font-size: 15px;
    font-weight: bold;
}
.stock_else {
    padding: 20px 0;
    font-size: 15px;
    color: gray;
    text-align: center;
}

/* useredit.blade.php */
.icon_label {
    margin: 0 0 20px;
}

/* クッキングアプリ ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

/* overview.blade.php ーーーーーーーーーーーーーーーー*/
.overview_top {
    background-image: url('../img/main_image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(0,0,0,0.2);
    background-blend-mode:darken;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 28px;
}
.overview_inner {
    padding: 0 0 10px;
}
.overview_inner .user_info img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.overview_inner .user_info {
    display: flex;
    align-items: center;
    padding: 20px 0 20px;
    margin: 0 0 10px;
    border-radius: 10px;
    justify-content: space-evenly;
}
.overview_inner .user_info .texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-evenly;
    height: 70px;
}
.overview_inner .user_info .texts h4 {
    font-weight: bold;
    padding: 0 0 5px;
    text-decoration: underline;
}
.overview_inner .user_info .texts p {
    color: gray;
    font-size: 14px;
}

.user_level {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
  }
::-webkit-.user_level-value {
      background-color:black;
      border-radius: 8px;
    }
  ::-webkit-progress-bar {
    background-color: #80808033;
    border-radius: 8px;
    height: 13px;
    width: 150px;
    margin: 10px 0 0;
  }
  ::-moz-progress-value {
      background-color: #c8bd00;
      border-radius: 8px;
  }
  ::-moz-progress-bar {
      background-color: #80808033;
      border-radius: 8px;
      height: 13px;
      width: 150px;
      margin: 10px 0 0;
  }


.course_card {
    padding: 20px 0;
    margin: 10px;
    border-radius: 6px;
    display: flex;
    box-shadow: 0 0 4px 1px #cccccc;
    background-image: url('../img/white_bg.jpg');
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;
}
.course_card:last-child {
    margin: 10px 10px 0;
}
.course_card .left img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    padding: 0 20px;
    border-radius: 30%;
}
.course_card .right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 10px 0 0;
}
.course_card .right h3 {
    font-weight: bold;
    margin: 0 0 5px;
}
.course_card .right p {
    font-size: 13px;
    color: gray;
    line-height: 1.2;
}

/* course.blade.php ーーーーーーーーーーーーーーーー*/
.course_title {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgba(0,0,0,0.15);
    background-blend-mode:darken;
    color: white;
}
.course_title h1 {
    font-size: 30px;
    margin: 0 0 20px;
    font-weight: bold;
}
.course_title progress::-webkit-progress-bar {
    background-color: #b3b3b3cb;
}
::-moz-progress-bar {
    background-color: #b3b3b3cb;
}

.lesson_card {
    margin: 5px;
    padding: 20px;
    box-shadow: 0 0 6px 1px #cccccc;
    margin: 10px;
}
.lesson_card * {
    margin: 0 0 20px;
}
.lesson_card h4 {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    border: 1px solid rgb(216, 213, 213);
    border-radius: 20px;
}
.lesson_card h2 {
    font-size: 22px;
    font-weight: bold;
}
.lesson_card p {
    color: #444444;
    line-height: 1.5;
}
.lesson_card img {
    width: 100%;
    opacity: 0.9;
    height: 200px;
    object-fit: cover;
}
.lesson_card .btn {
    display: block;
    border-radius: 5px;
    padding: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.lesson_card .completed {
    color: rgba(116, 241, 78, 0.904);
    font-weight: bold;
}
.lesson_card .uncompleted {
    color: orange;
    font-weight: bold;
}

/* lesson.blade.php ーーーーーーーーーーーーーーーー*/
.completed_lesson_btn {
    display: flex;
    justify-content: center;
}
.completed_lesson_btn h4{
    display: inline-block;
    margin: 30px 0;
    color: white;
    background: rgb(216, 213, 213);
    border-radius: 30px;
    padding: 15px 50px;
    font-size: 15px;
    font-weight: bold;
}
.lesson_complete_btn {
    display: flex;
    justify-content: center;
}
.lesson_complete_btn input{
    margin: 30px 0;
    background: white;
    border-radius: 30px;
    padding: 15px 50px;
    font-size: 15px;
    font-weight: bold;
}


/* PC用レイアウトーーーーーーーーーーーーーーーーーーーーーーー */

@media(min-width:720px){
    body {
        border-left: 1px solid #80808033;
        border-right: 1px solid #80808033;
    }
    header {
        height: 40px;
    }
    header img {
        width: 230px;
    }
    nav {
        top: 66px;
    }

    /* overview.blade.php */
    .overview_inner .user_info {
        justify-content: center;
    }
    .overview_inner .user_info img {
        margin: 0 30px;
    }

    /* course.blade.php */
    .course_title {
        height: 300px;
    }
    .lesson_card img {
        height: 300px;
    }

    /* detail.blade.php */
    .recipe_heaader {
        height: 320px;
    }
    .recipe_back i {
        font-size: 25px;
        padding: 10px 0 10px 15px;
    }
    .shopping_list ul {
        padding: 20px;
    }
    .recipe_prosess {
        padding: 25px 12px;
    }
    .recipe_heaader h1 {
        font-size: 30px;
    }
    .recipe_heaader a span {
        font-size: 18px;
        margin-left: 10px;
    }
    .recipe_heaader a i {
        font-size: 35px;
    }

    /* find.blade.php */
    .main_image {
        height: 300px;
    }
    .find_by_recipe ul {
        padding: 40px 0 20px;
    }
    .find_by_recipe input {
        height: 200px;
        border-radius: 3px;
    }
    .serch_bar .keyword {
        width: 250px;
    }
    .stock_btn {
        font-size: 16px;
        padding: 0.4em 2em;
    }

    /* stock.blade.php */
    .recipe_horizontal_card {
        padding: 30px 0;
    }
    .recipe_horizontal_card .right {
        flex-direction: row;
        align-items: center;
    }
    .recipe_horizontal_card .right * {
        padding: 5px 15px;
    }
    .recipe_horizontal_card .right h3 {
        font-size: 18px;
    }

    /* create.blade.php */
    .form_inner {
        margin: 30px auto;
        width: 70%;
    }
    textarea {
        font-size: 17px;
    }
}
